*{
  margin: 0;
  padding: 0;
  font-family: houschka-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  z-index: 1;
}

body, html {
  height: 100%;
}

/**********************************************************************************************
*************************************** O V E R L A Y S ***************************************
**********************************************************************************************/
.background:before{
  position: fixed;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0,0,0,0.4);
}

.overlay20:before{background-color: rgba(0,0,0,0.2)}
.overlay:before{background-color: rgba(0,0,0,0.4)}


/**********************************************************************************************
************************************* B A C K G R O U N D *************************************
**********************************************************************************************/
#homeBackground {
  background-image: url("/assets/pexels-water.png");
}

#aboutBackground {
  background-image: url("/assets/pexels-bottle.png");
}

#photosBackground {
  background-image: url("/assets/pexels-row.png");
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/**********************************************************************************************
*************************************** T O P - M E N U ***************************************
**********************************************************************************************/
#top {
  font-size: 50px;
}

#top p {
  position: fixed;
  top: 30px;
  left: 50px;
}

#top img {
  position: fixed;
  height: 110px;
  top: 30px;
  right: 53px;
}


/**********************************************************************************************
***************************************** P A G I N G *****************************************
**********************************************************************************************/
#nextPage {
  right: 50px;
}

#prevPage {
  left: 50px;
}

#nextPage, #prevPage {
  position: fixed;
  width: 140px;
  bottom: 10%;
  text-decoration: none;
}

#nextPage img, #prevPage img {
  width: 110px;
  margin: 0 15px;
}

#nextPage p, #prevPage p {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}


/**********************************************************************************************
***************************************** F O O T E R *****************************************
**********************************************************************************************/
footer {
  position: fixed;
  background-color: #000;
  height: 80px;
  bottom: -10px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

footer img {
  height: 30px;
  margin-right: 10px;-
}

footer p {
  font-size: 30px;
}

footer a {
  text-decoration: none;
}


/**********************************************************************************************
******************************************* H O M E *******************************************
**********************************************************************************************/
#home h1 {
  position: absolute;
  font-size: 80px;
  top: 40%;
  margin: 0;
  width: 100%;
  text-align: center;
}

#home h3 {
  position: absolute;
  font-size: 50px;
  top: 48%;
  margin: 0;
  width: 100%;
  text-align: center;
}


/**********************************************************************************************
****************************************** A B O U T ******************************************
**********************************************************************************************/
#about .social{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 60px;
  width: 100%;
}

#about .social a {
  text-decoration: none;
}

#about .social img {
  height: 100%;
  width: 110px;
}

#about .aboutTxt {
  position: absolute;
  font-size: 40px;
  top: 15%;
  width: 60%;
  margin: 0 20%;
  margin-bottom: 30%;
}

#about .aboutTxt ol {
  margin-left: 35px;
}

/**********************************************************************************************
***************************************** P H O T O S *****************************************
**********************************************************************************************/
.smallPolaroid {
  width: 100%;
  height: 30%;
  background-color: #fff;
  margin: 5% 3%;
}

.smallPolaroid img {
  width: 90%;
  height: 75%;
  margin: 5%;
  margin-bottom: 3%;
}

.smallPolaroid p {
  width: 100%;
  font-size: 40px;
  margin-top: 0%;
  text-align: center;
  color: #000;
  font-weight: 300;
}

#photoList {
  position: absolute;
  width: 60%;
  margin: 0 20%;
  padding: 20% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#links {
  position: fixed;
  bottom: 90px;
  width: 100%;
  background-color: #2E97EF;
}

#links ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#links li {
  font-size: 35px;
  margin: 0px 20px;
}

#links span {
  font-weight: bold;
}

#links a {
  text-decoration: none;
}










@media (min-width : 1025px) {
  /* For desktop: */
  .background {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap:wrap;
  }
  #top {
    font-size: 30px;
  }
  #top img {
    height: 100px;
  }
  /**** P A G I N G ****/
  #nextPage, #prevPage {
    width: 90px;
    top: 45%;
  }
  #nextPage img, #prevPage img {
    width: 60px;
  }
  #nextPage p, #prevPage p {
    font-size: 30px;
  }
  /**** F O O T E R ****/
  footer {
    background-color: none;
    height: 0px;
    bottom: 0;
    width: 100%;
    padding: 0;
  }
  footer img {
    height: 25px;
    position: absolute;
    bottom: 32px;
    left: 50px;
  }
  footer p {
    position: absolute;
    bottom: 28px;
    left: 81px;
    font-size: 20px;
  }
  /**** H O M E ****/
  #home h1 {
    font-size: 80px;
    top: 38%;
  }
  #home h3 {
    font-size: 40px;
    top: 52%;
  }
  /**** A B O U T ****/
  #about .social{
    height: 40px;
  }
  #about .social img {
    width: 80px;
  }
  #about .aboutTxt {
    font-size: 15px;
    margin-bottom: 0;
  }
  /**** P H O T O S ****/
  .smallPolaroid {
    width: 20%;
    margin: 5px 3%;
  }
  .smallPolaroid p {
    font-size: 90%;
    margin-top: -4%;
  }
  #photoList {
    top: 10%;
    padding: 0;
    width: 80%;
    height: auto;
    margin: 0 10%;
  }
  #links {
    position: absolute;
    bottom: 10%;
    background-color: inherit;
  }
  #links ul {
    margin: 0;
  }
  #links li {
    font-size: 20px;
    margin: 0 20px;
  }
  #links span {
    font-weight: bold;
  }
  #links a {
    text-decoration: none;
  }
}


@media (min-width : 768px) and (max-width : 1024px) and (orientation: landscape) {
  /* For tablets: */
  .background {
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap:wrap;
  }
  #top {
    font-size: 30px;
  }
  #top img {
    height: 100px;
  }
  /**** P A G I N G ****/
  #nextPage, #prevPage {
    width: 90px;
    top: 45%;
  }
  #nextPage img, #prevPage img {
    width: 60px;
  }
  #nextPage p, #prevPage p {
    font-size: 30px;
  }
  /**** F O O T E R ****/
  footer {
    background-color: none;
    height: 0px;
    bottom: 0;
    width: 100%;
    padding: 0;
  }
  footer img {
    height: 25px;
    position: absolute;
    bottom: 32px;
    left: 50px;
  }
  footer p {
    position: absolute;
    bottom: 28px;
    left: 81px;
    font-size: 20px;
  }
  /**** H O M E ****/
  #home h1 {
    font-size: 80px;
    top: 38%;
  }
  #home h3 {
    font-size: 40px;
    top: 52%;
  }
  /**** A B O U T ****/
  #about .social{
    height: 40px;
  }
  #about .social img {
    width: 80px;
  }
  #about .aboutTxt {
    font-size: 13px;
    margin-bottom: 0;
  }
  /**** P H O T O S ****/
  .smallPolaroid {
    margin: 5px 3%;
    width: 20%;
  }
  .smallPolaroid p {
    font-size: 90%;
    margin-top: -4%;
  }
  #photoList {
    top: 10%;
    padding: 0;
    width: 80%;
    height: auto;
    margin: 0 10%;
  }
  #links {
    position: absolute;
    bottom: 10%;
    background-color: inherit;
  }
  #links ul {
    margin: 0;
  }
  #links li {
    font-size: 20px;
    margin: 0 20px;
  }
  #links span {
    font-weight: bold;
  }
  #links a {
    text-decoration: none;
  }
}








/**********************************************************************************************
********************* S E A R C H  +  P E R S O N A L I S E D  +  V O T E *********************
**********************************************************************************************
.bigPolaroid {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 691px;
  height: 636px;
  background-color: #fff;
}

.bigPolaroid img {
  width: 649px;
  height: 486px;
  margin: 3%;
}

.bigPolaroid input {
  width: 100%;
  font-size: 50px;
  text-align: center;
  border: none;
  background: none;
  color: #000;
  font-weight: 300;
}

#photoForm {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 303px;
}

#photoForm h3 {
  font-size: 30px;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

#photoForm #personBubble {
  position:absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: -60px;
}

#photoForm input[type=text] {
  width: 288px;
  border-radius: 20px;
  border-style: none;
  padding: 8px 0;
  padding-left: 15px;
  font-size: 20px;
  color: #999999;
  margin-bottom: 15px;
}

#photoForm input[type=submit] {
  width: 134px;
  border-radius: 20px;
  border-style: none;
  padding: 5px 0;
  font-size: 20px;
  margin-right: 35px;
  background-color: #2E97EF;
}

#photoForm .cancel {
  width: 135px;
  border-radius: 20px;
  border-style: none;
  padding: 5px 20px;
  font-size: 20px;
  background-color: #FFBD62;
  text-decoration: none;
}

#socialLinks {
  margin-top: 30px;
}

#socialLinks img {
  height: 40px;
  margin-right: 20px;
}*/


/**********************************************************************************************
****************************************** V O T E D ******************************************
**********************************************************************************************
.mediumPolaroid {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 450px;
  height: 400px;
  background-color: #fff;
}

.mediumPolaroid img {
  width: 415px;
  height: 310px;
  margin: 4%;
  margin-bottom: 3%;
}

.mediumPolaroid input {
  width: 100%;
  font-size: 32px;
  text-align: center;
  border: none;
  background: none;
  color: #000;
  font-weight: 300;
}

.voteCount {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 303px;
}

.voteCount h3 {
  font-size: 30px;
  width: 100%;
  margin: 0;
}

.voteCount img {
  position:absolute;
  height: 40px;
  width: 40px;
  top: -5px;
  left: 200px;
}*/


/*#searchBackground {
  background-image: url("/assets/pexels-caps.png");
}

#personalisedBackground {
  background-image: url("/assets/pexels-caps.png");
}

#voteBackground {
  background-image: url("/assets/pexels-row.png");
}

#votedBackground {
  background-image: url("/assets/pexels-row.png");
}*/
